.map-container1 {
  padding: 5px;
  margin-bottom: 2rem;
  border-bottom: thin solid black
}

.map-container2 {
  marginLeft: -50px;
}

.map-container3 {
  height: 50px;
  marginBottom: 25px;
}

.map-container4 {
  textAlign: center;
}

.map-container5 {
  textAlign: center;

}
